<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>MHC-Outreach</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/spring.xml</param-value>
	</context-param>
	<filter>
		<filter-name>corsFilter</filter-name>
		<filter-class>com.mhc.filters.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>authorizationFilter</filter-name>
		<filter-class>com.mhc.filters.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authorizationFilter</filter-name>
		<url-pattern>/rest/protected/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>extSignFilter</filter-name>
		<filter-class>com.mhc.filters.ExtSignFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>extSignFilter</filter-name>
		<url-pattern>/rest/authenticate</url-pattern>
	</filter-mapping>

	<!--<context-param> <param-name>log4jConfigLocation</param-name> <param-value>classpath:log4j.xml</param-value> 
		</context-param> -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.ClasspathResourceConfig</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.mhc.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
