<div class="col-md-10 mx-auto patient-form">



  <a class="btn btn-primary btn-comed" (click)="docLetter()">Doctor Letter</a>
  <a class="btn btn-primary btn-comed" (click)="healthLetter()">Patient Health Letter</a>

  <button [disabled]="!(!isNewBiometrics && existBiometrics)" class="btn btn-primary float-right btn-comed" type="button" (click)="switchEntries()">New Entry</button>
  <button [disabled]="!(isNewBiometrics && existBiometrics)" class="btn btn-primary float-right btn-comed"  type="button" (click)="switchEntries()">Last Entry</button>
  <h2 class="text-center">Biometrics</h2>
  <hr>
</div>


<span>{{user.client_id}} </span>
<div class="col-md-10 mx-auto patient-form">

  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid,f)">

    <div class="card">
      <h5 class="card-header">Basic Info
        <div class="float-right">
          {{user.first_name}} {{ user.last_name}}
          <span *ngIf="user.date_of_birth"> [ DOB : {{ user.date_of_birth.toISOString().substring(0, 10) }} ]</span>

        </div>

      </h5>

      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Program</label>
            <label *ngIf="user.reward_date" class="form-control">{{user.program_display_name}}</label>
          </div>
          <div class="col-md-4 mb-3">
            <label>Draw Type</label>
            <select class="form-control" id="draw_type" [(ngModel)]="user.draw_type" name="draw_type" #draw_type="ngModel" required>
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let d of drawTypes" [selected]="d.value === user.draw_type" [value]="d.value">{{d.value}}</option>
            </select>
            <small [hidden]="draw_type.valid || (draw_type.pristine && !f.submitted)" class="text-danger">
              DrawType is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Assessment Date</label>
            <label *ngIf="user.assessment_date" class="form-control">{{user.assessment_date.toLocaleDateString() }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Body Measurements</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Systolic </label>
            <input  class="form-control" type="number" step="1" min='90' max='180' name="sistolic" [(ngModel)]="user.sistolic" #sistolic="ngModel" placeholder='' required>
            <small [hidden]="sistolic.valid || (sistolic.pristine && !f.submitted) || !submitted" class="text-danger">
              Systolic is required.
            </small>
            <small [hidden]="getIsOnRange(user.sistolic, 90, 180) || (sistolic.pristine && !f.submitted) || !submitted" class="text-danger">
              Systolic should be between 90 and 180.
            </small>
            <small [hidden]="(getIsNumber(user.sistolic)) || (sistolic.pristine && !f.submitted) || !submitted" class="text-danger">
              Systolic should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Diastolic</label>
            <input class="form-control" type="number" step="1" min='60' max='110'  name="diastolic" [(ngModel)]="user.diastolic" #diastolic="ngModel" placeholder='' required>
            <small [hidden]="diastolic.valid || (diastolic.pristine && !f.submitted) || !submitted" class="text-danger">
              Diastolic is required.
            </small>
            <small [hidden]="getIsOnRange(user.diastolic, 60, 110) || (diastolic.pristine && !f.submitted) || !submitted" class="text-danger">
              Diastolic should be between 60 and 110.
            </small>
            <small [hidden]="(getIsNumber(user.diastolic)) || (diastolic.pristine && !f.submitted) || !submitted" class="text-danger">
              Diastolic should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Height</label>
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <input class="form-control" type="number" name="heightfeet" [(ngModel)]="user.height.feet" #heightfeet="ngModel" step="1" min='4' max='7' placeholder=''
                    required>
                     
                  <small [hidden]="heightfeet.valid || (heightfeet.pristine && !f.submitted) || !submitted" class="text-danger">
                    Height feet is required field.
                  </small>
                  <small [hidden]="getIsOnRange(user.height.feet, 4, 7) || (heightfeet.pristine && !f.submitted) || !submitted" class="text-danger">
                    Height feet should be between 4 and 7.
                  </small>
                  <small [hidden]="(getIsNumber(user.height.feet)) || (heightfeet.pristine && !f.submitted) || !submitted" class="text-danger">
                    Height feet should be an integer
                  </small>
                </div>
                <div class="col-2">
                    <span class="hunit">ft</span>
                </div>
                <div class="col-4">
                  <input class="form-control" type="number" name="heightinches" [(ngModel)]="user.height.inches" #heightinches="ngModel" step="1" min='0' max='11' placeholder=''
                    required>
                  
                  <small [hidden]="heightinches.valid || (heightinches.pristine && !f.submitted) || !submitted" class="text-danger">
                    Height inches is required field.
                  </small>
                  <small [hidden]="getIsOnRange(user.height.inches, 0, 11) || (heightinches.pristine && !f.submitted) || !submitted" class="text-danger">
                    Height inches should be between 0 and 11.
                  </small>
                  <small [hidden]="(getIsNumber(user.height.inches)) || (heightinches.pristine && !f.submitted) || !submitted" class="text-danger">
                    Height inches should be an integer
                  </small>
                </div>
                <div class="col-2">
                    <span class="hunit">in</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label>Weight</label>
            <input class="form-control" type="number" step="1" min='50' max='500' name="weight" [(ngModel)]="user.weight" #weight="ngModel" placeholder='' required>
            <small [hidden]="weight.valid || (weight.pristine && !f.submitted) || !submitted" class="text-danger">
              Weight is required.
            </small>
            <small [hidden]="getIsOnRange(user.weight, 50, 500) || (weight.pristine && !f.submitted) || !submitted" class="text-danger">
              Weight should be between 50 and 500.
            </small>
            <small [hidden]="(getIsNumber(user.weight)) || (weight.pristine && !f.submitted) || !submitted" class="text-danger">
              Weight should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Waist</label>
            <input class="form-control" type="number" name="waist" [(ngModel)]="user.waist" #waist="ngModel" placeholder='' required>
            <small [hidden]="waist.valid || (waist.pristine && !f.submitted) || !submitted" class="text-danger">
              Waist is required.
            </small>
            <small [hidden]="(getIsNumber(user.waist)) || (waist.pristine && !f.submitted) || !submitted" class="text-danger">
              Waist should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Body Fat</label>
            <input class="form-control" type="number" step="0.1" min='1' max='60' name="body_fat" [(ngModel)]="user.body_fat" #body_fat="ngModel" placeholder='' required>
            <small [hidden]="body_fat.valid || (body_fat.pristine && !f.submitted) || !submitted" class="text-danger">
              Body Fat is required.
            </small>
            <small [hidden]="getIsOnRange(user.body_fat, 1, 60) || (body_fat.pristine && !f.submitted) || !submitted" class="text-danger">
              Body Fat should be between 1 and 60.
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Lipid Blood Sugar</h5>
      <div class="card-body">
        <div class="form-row">

          <div class="col-md-4 mb-3">
            <label>Cholesterol</label>
            <input class="form-control" type="number" step="1" min='80' max='200' name="cholesterol" [(ngModel)]="user.cholesterol" #cholesterol="ngModel" placeholder='' required>
            <small [hidden]="cholesterol.valid || (cholesterol.pristine && !f.submitted) || !submitted" class="text-danger">
              Cholesterol is required.
            </small>
            <small [hidden]="getIsOnRange(user.cholesterol, 80, 200) || (cholesterol.pristine && !f.submitted) || !submitted" class="text-danger">
              Cholesterol should be between 80 and 200.
            </small>
            <small [hidden]="(getIsNumber(user.cholesterol)) || (cholesterol.pristine && !f.submitted) || !submitted" class="text-danger">
              Cholesterol should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Hdl</label>
            <input class="form-control" type="number" step="1" min='10' max='150' name="hdl" [(ngModel)]="user.hdl" #hdl="ngModel" placeholder='' required>
            <small [hidden]="hdl.valid || (hdl.pristine && !f.submitted) || !submitted" class="text-danger">
              Hdl is required.
            </small>
            <small [hidden]="getIsOnRange(user.hdl, 10, 150) || (hdl.pristine && !f.submitted) || !submitted" class="text-danger">
              Hdl should be between 10 and 150.
            </small>
            <small [hidden]="(getIsNumber(user.hdl)) || (hdl.pristine && !f.submitted) || !submitted" class="text-danger">
              Hdl should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Triglycerides</label>
            <input class="form-control" type="number" step="1" min='0' max='500' name="triglycerides" [(ngModel)]="user.triglycerides" #triglycerides="ngModel" placeholder='' required>
            <small [hidden]="triglycerides.valid || (triglycerides.pristine && !f.submitted) || !submitted" class="text-danger">
              Triglycerides is required.
            </small>
            <small [hidden]="getIsOnRange(user.triglycerides, 0, 500) || (triglycerides.pristine && !f.submitted) || !submitted" class="text-danger">
              Triglycerides should be between 0 and 500.
            </small>
            <small [hidden]="(getIsNumber(user.triglycerides)) || (triglycerides.pristine && !f.submitted) || !submitted" class="text-danger">
              Triglycerides should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Ldl</label>
            <input class="form-control" type="number" step="1" min='10' max='250' name="ldl" [(ngModel)]="user.ldl" #ldl="ngModel" placeholder='' required>
            <small [hidden]="ldl.valid || (ldl.pristine && !f.submitted) || !submitted" class="text-danger">
              Ldl is required.
            </small>
            <small [hidden]="getIsOnRange(user.ldl, 10, 250) || (ldl.pristine && !f.submitted) || !submitted" class="text-danger">
              Ldl should be between 10 and 250.
            </small>
            <small [hidden]="(getIsNumber(user.ldl)) || (ldl.pristine && !f.submitted) || !submitted" class="text-danger">
              Ldl should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Glucose</label>
            <input class="form-control" type="number" step="1" min='50' max='1000' name="glucose" [(ngModel)]="user.glucose" #glucose="ngModel" placeholder='' required>
            <small [hidden]="glucose.valid || (glucose.pristine && !f.submitted) || !submitted" class="text-danger">
              Glucose is required.
            </small>
            <small [hidden]="getIsOnRange(user.glucose, 50, 1000) || (glucose.pristine && !f.submitted) || !submitted" class="text-danger">
              Glucose should be between 50 and 1000.
            </small>
            <small [hidden]="(getIsNumber(user.glucose)) || (glucose.pristine && !f.submitted) || !submitted" class="text-danger">
              Glucose should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Hba1c</label>
            <input class="form-control" type="number" step="1" min='0' max='20' name="hba1c" [(ngModel)]="user.hba1c" #hba1c="ngModel" placeholder='' required>
            <small [hidden]="hba1c.valid || (hba1c.pristine && !f.submitted) || !submitted" class="text-danger">
              Hba1c is required.
            </small>
            <small [hidden]="getIsOnRange(user.hba1c, 0, 20) || (hba1c.pristine && !f.submitted) || !submitted" class="text-danger">
              Hba1c should be between 0 and 20.
            </small>
            <small [hidden]="(getIsNumber(user.hba1c)) || (hba1c.pristine && !f.submitted) || !submitted" class="text-danger">
              Hba1c should be an integer
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Fasting</label>
            <label class="switch">
              <input name="fasting" [(ngModel)]="user.fasting" #fasting="ngModel" type="checkbox">
              <span class="slider round"></span>
            </label>

          </div>
        </div>
      </div>
    </div>

    <div class="card" style="display: none">
      <h5 class="card-header">Tobacco Use</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Use</label>
            <label class="switch">
              <input name="tobacco_use" [(ngModel)]="user.tobacco_use" #tobacco_use="ngModel" type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
