<span>{{user.client_id}} </span>
<div class="col-md-10 mx-auto patient-form">

  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">

    <div class="card">
      <h5 class="card-header">Basic Info
        <div class="float-right">
          {{user.first_name}} {{ user.last_name}}
          <span> [ DOB : {{ user.date_of_birth.toLocaleDateString() }} ]</span>

        </div>

      </h5>

      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Program</label>
            <select class="form-control" id="program" required [(ngModel)]="user.program_id" name="program" #program="ngModel">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let p of programs" [value]="p.value">{{p.key}}</option>
            </select>
            <small [hidden]="program.valid || (program.pristine && !f.submitted)" class="text-danger">
              Program is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Draw Type</label>
            <select class="form-control" id="drawType" required [(ngModel)]="user.drawType" name="drawType" #drawType="ngModel">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let d of drawTypes" [value]="d.value">{{d.key}}</option>
            </select>
            <small [hidden]="drawType.valid || (drawType.pristine && !f.submitted)" class="text-danger">
              rawType is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
              <label>Assessment Date</label>
              <label  class="form-control">{{user.assessment_date.toLocaleDateString() }}</label>             
            </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Body Measurements</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>sistolic</label>
            <input class="form-control" type="text" name="name" [(ngModel)]="user.sistolic" #sistolic="ngModel">
            <small [hidden]="sistolic.valid || (sistolic.pristine && !f.submitted)">
              sistolic is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>diastolic</label>
            <input class="form-control" type="text" name="diastolic" [(ngModel)]="user.diastolic" #diastolic="ngModel" required>
            <small [hidden]="diastolic.valid || (diastolic.pristine && !f.submitted)" class="text-danger">
              diastolic is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Height</label>
            <div>
              <input class="form-control" type="number" name="height" [(ngModel)]="user.height" #height="ngModel" required>
              <small [hidden]="height.valid || (height.pristine && !f.submitted)" class="text-danger">
                height is required.
              </small>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label>weight</label>
            <input class="form-control" type="text" name="weight" [(ngModel)]="user.weight" #weight="ngModel" required>
            <small [hidden]="weight.valid || (weight.pristine && !f.submitted)" class="text-danger">
              weight is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>Waist</label>
            <input class="form-control" type="text" name="Waist" [(ngModel)]="user.waist" #Waist="ngModel" required>
            <small [hidden]="Waist.valid || (Waist.pristine && !f.submitted)" class="text-danger">
              Waist is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>bodyFat</label>
            <input class="form-control" type="text" name="bodyFat" [(ngModel)]="user.body_fat" #bodyFat="ngModel" required>
            <small [hidden]="bodyFat.valid || (bodyFat.pristine && !f.submitted)" class="text-danger">
              bodyFat is required.
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Lipid Blood Sugar</h5>
      <div class="card-body">
        <div class="form-row">

          <div class="col-md-4 mb-3">
            <label>cholesterol</label>
            <input class="form-control" type="text" name="cholesterol" [(ngModel)]="user.cholesterol" #cholesterol="ngModel" required>
            <small [hidden]="cholesterol.valid || (cholesterol.pristine && !f.submitted)" class="text-danger">
              cholesterol is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>hdl</label>
            <input class="form-control" type="text" name="hdl" [(ngModel)]="user.hdl" #hdl="ngModel" required>
            <small [hidden]="hdl.valid || (hdl.pristine && !f.submitted)" class="text-danger">
              hdl is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>triglycerides</label>
            <input class="form-control" type="text" name="triglycerides" [(ngModel)]="user.triglycerides" #triglycerides="ngModel" required>
            <small [hidden]="triglycerides.valid || (triglycerides.pristine && !f.submitted)" class="text-danger">
              triglycerides is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>ldl</label>
            <input class="form-control" type="text" name="ldl" [(ngModel)]="user.ldl" #ldl="ngModel" required>
            <small [hidden]="ldl.valid || (ldl.pristine && !f.submitted)" class="text-danger">
              ldl is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>glucose</label>
            <input class="form-control" type="text" name="glucose" [(ngModel)]="user.glucose" #glucose="ngModel" required>
            <small [hidden]="glucose.valid || (glucose.pristine && !f.submitted)" class="text-danger">
              glucose is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>hba1c</label>
            <input class="form-control" type="text" name="hba1c" [(ngModel)]="user.hba1c" #hba1c="ngModel" required>
            <small [hidden]="hba1c.valid || (hba1c.pristine && !f.submitted)" class="text-danger">
              hba1c is required.
            </small>
          </div>
          <div class="col-md-4 mb-3">
            <label>fasting</label>
            <label class="switch">
              <input name="fasting" [(ngModel)]="user.fasting" type="checkbox">
              <span class="slider round"></span>
            </label>

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Tobacco Use</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Use</label>
            <label class="switch">
              <input name="use" [(ngModel)]="user.tobacco_use" type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
