<div class="col-md-10 mx-auto patient-form">
    <form >
      <div class="card">
        <h5 class="card-header">Upload File</h5>
        <div class="card-body">
          <div class="form-row">
  
            <div class="col-md-4 mb-3">
              <label>Client Id</label>
              <input class="form-control" type="text" name="clientId">
            </div>
            <div class="col-md-4 mb-3">
              <label>Program Id</label>
              <input class="form-control" type="text" name="programId">
            </div>
            
  
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">Mark as Downloaded</label>
                </div>
            </div>
           
    
  
          </div>
          <div class="form-row">
  
          </div>
          
        </div>
  
      </div>
  
    </form>