<div class="col-md-12 no-padding patient-form">
  <form #f="ngForm" novalidate (ngSubmit)="downloadFile(f.value, f.valid)">
    <div class="card">
      <h5 class="card-header">Biometric File</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-12">
            <label>Client</label>
            <select class="form-control" id="clientId" [(ngModel)]="modal.clientId" name="clientId" [disabled]="modal.clientId === clientIdStorage" #clientId="ngModel" (change)="clientChangeModal(modal.clientId)"
              required>
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let c of clients" [value]="c.id">{{c.name}}</option>
            </select>
            <small [hidden]="clientId.valid || (clientId.pristine && !submit)" class="text-danger">
              client is required.
            </small>
          </div>

        </div>
        <br>
        <div class="form-row">
          <div class="col-md-12">
            <label>Program Id</label>
            <input class="form-control" [attr.disabled]="disabled" type="text" name="ptrogramDisplayName" [(ngModel)]="modal.ptrogramDisplayName" #ptrogramDisplayName="ngModel"
              required>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md-12">
            <label>Mark as Downloaded</label>
            <label class="switch">
              <input name="merked" [(ngModel)]="modal.merked" #merked="ngModel" type="checkbox">
              <span class="slider round"></span>
            </label>

          </div>

        </div>
        <div class="form-row">
          <div class="col-md-12">
            <button class="btn btn-primary float-right" type="submit">Download</button>
          </div>
        </div>
      </div>
    </div>
  </form>
