<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
              <ul class="list-unstyled">
                <li>
                  xxxxxxxxxxx
                  <br> XXX xxxxxxxxxxx
                  <br> xxxxxxxxxxx
                  <br> xxxxxxxxxxx
                  <br>
                </li>
                <li>
                  Phone: xxxxxxxxxxx
                </li>
              </ul>
            </address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>xxxxxxxxxxx</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">FAQs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Website Information</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#">Website Tutorial</a>
              </li>
              <li>
                <a href="#">Accessibility</a>
              </li>
              <li>
                <a href="#">Disclaimer</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">FAQs</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>xxxxxxxxxxx</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#">xxxxxxxxxxx</a>
              </li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-xs-center">&copy; Copyright 2018 - xxxxxxxxxxx. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>