footer{
    color: white;
  }
  footer a{
    color: #bfffff;
  }
  footer a:hover{
    color: white;
  }
  
  .footer-bottom{
    background: #174F85;
    padding: 2em;
  }
  .footer-top{
    background: #2d4958;  
    text-align: center;
  }
  .footer-middle{
     background: #0C3B69;
    padding-top: 2em;
    color: white;
  }