<div class="col-md-12 no-padding patient-form">
  <form #f="ngForm">
    <div class="card">
      <h5 class="card-header">Upload eligibility file</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-12">
            <p>Uploading a new eligibility file will overwrite the existing eligibility file for this client.</p>
          </div>
        </div>
        
        <div class="form-row">
          <div class="col-md-12">
              <button class="btn btn-primary float-right" type="submit" (click)="onConfirm()">Confirm</button>
            
              <button class="btn btn-primary float-right" type="button" (click)="onCancel()">Cancel</button>
            
          </div>
        </div>
      </div>
    </div>
  </form>
