<div class="col-md-10 mx-auto patient-form">
  <form #f="ngForm" novalidate (ngSubmit)="search(f.valid)">
    <div class="card">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="inputState">Client</label>
            <select class="form-control" id="client" [(ngModel)]="user.client" name="client" #client="ngModel">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let c of clients" [value]="c.value">{{c.key}}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="inputProgram">Program</label>
            <select class="form-control" id="program" [(ngModel)]="user.program" name="program" #program="ngModel">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let p of programs" [value]="p.value">{{p.key}}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Last Name</label>
            <!--<input class="form-control" type="text" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel" (change)="getlastNames()">-->


            <ng2-completer [(ngModel)]="user.lastname" [inputClass]="'form-control'"  (keyup)="keydown($event)" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>`



          </div>
          <div class="col-md-4 mb-3">
            <label>First Name</label>
            <ng2-completer [(ngModel)]="user.lastname" [inputClass]="'form-control'"  (keyup)="keydownName($event)" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>`
          </div>

          <div class="col-md-4 mb-3">
            <label>D.O.B</label>
            <angular-single-date-picker name="dob" [(ngModel)]="user.dob"></angular-single-date-picker>
          </div>
          <div class="col-md-4 mb-3">
            <label>Gender</label>
            <div class="form-check">
              <input type="radio" class="form-check-input" value="male" name="gender" [(ngModel)]="user.gender"> 
              <label class="form-check-label">
                  Male
                </label>
              <input type="radio" class="form-check-input"  value="female" name="gender" [(ngModel)]="user.gender"> 
              <label class="form-check-label">
                  Female
                </label>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label>MemberId</label>
            <input class="form-control" type="text" name="memberId" [(ngModel)]="user.memberId" #memberId="ngModel">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <button class="btn btn-primary float-right" type="submit">Search</button>
          </div>
        </div>
      </div>

    </div>

  </form>


  <app-dynamic-table [data]="tableData" [headers]="header" [page]="1" [pageSize]="10">

  </app-dynamic-table>


</div>
